/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo do site */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #e276d9; /* Cor verde campo */
    background-color: #f4f4f4;
}

/* Cabeçalho */
header {
    background-color: #c73fa5; /* Cor verde campo */
    color: white;
    padding: 20px 0;
    text-align: center;
}

header .logo h1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
}

header nav ul {
    list-style-type: none;
    padding: 10px 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

header nav ul li a:hover {
    color: #ffb300; /* Destaque para links */
}

/* Seção Sobre */
.about-section {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.about-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.1rem;
    color: #d774e4;
}

/* Seção Tecnologia */
.tech-section {
    background-color: #eb7df3;
    padding: 50px 20px;
    text-align: center;
}

.tech-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.tech-card {
    display: inline-block;
    width: 45%;
    background-color: white;
    margin: 20px 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(216, 164, 236, 0.1);
}

.tech-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.tech-info {
    padding: 20px;
    text-align: left;
}

.tech-info h3 {
    font-size: 1.5rem;
    color: #d76df1;
    margin-bottom: 10px;
}

.tech-info p {
    font-size: 1rem;
    color: #ffa3ff;
}

/* Seção Contato */
.contact-section {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.contact-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-section p {
    font-size: 1.1rem;
    color: #ed91ff;
}

/* Rodapé */
footer {
    background-color: #efa1f1;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1rem;
}
